<script language="javascript">
	window.parent.location.pathname="/videos/show/<%= @video.key %>";
</script>

<div id="pandaloader">	
	<div id="weredone">
		<div id="donebar" class="bar">
		</div>
		<div id="done_button" class="button"><%= image_tag 'done.gif' %></div>
		<div id="eta"><a href="/videos/show/<%= @video.key %>" target="_parent">Click here</a> to proceed.</div>
	</div>
</div>